/* Reset
------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    background: #234465;
    font-size: 13px;
    color: #666666;
    font-family: Arial, helvetica, sans-serif;
}

ol, ul {
    list-style: none;
    margin: 0;
}

    ul li {
        margin: 0;
        padding: 0;
    }

h1 {
    margin-bottom: 10px;
    color: #111111;
}

a, img {
    outline: none;
    border: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    margin: 0 0 10px;
    line-height: 1.4em;
    font-size: 1.2em;
}

img {
    display: block;
    margin-bottom: 10px;
}

aside {
    font-style: italic;
    font-size: 0.9em;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/*-----------------------------------------------------------*/

/* Structure */
#wrapper {
    margin: auto;
    max-width: 920px;
    padding: 2%;
    width: 96%;
}

#main {
    float: left;
    width: 50%;
}

#banner {
    float: left;
    width: 100%;
}

    #banner img {
        width: 100%;
    }

/* Nav */
header nav {
    display: block;
    float: left;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-top: 10px;
    width: 76%;
}

    header nav ul li a {
        background: #FF9C00;
        border: none;
        color: #FFF;
        display: block;
        padding: 10px;
        text-align: center;
        text-decoration: none;
    }

    header nav li {
        display: block;
        float: left;
        margin-bottom: 2%;
        margin-left: 1%;
    }

    header nav ul li:hover #invisible {
        background: #D35400;
        border: 1px solid #D35400;
        display: block;
    }

#invisible {
    display: none;
    position: absolute;
}

    #invisible li {
        float: none;
        margin: 10px;
    }

        #invisible li:hover a {
            background: #D35400;
            display: block;
        }

    #invisible a {
        background: #FF9C00;
        border: none;
        color: #FFF;
        display: block;
        margin: -7px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
    }

/*Content*/
section {
    background-color: #FFE4C5;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-top: -2px;
    padding-top: 10px;
    position: inherit;
    width: 50%;
}

    section h2 {
        font-size: 24px;
        padding-top: 10px;
        text-align: center;
        text-decoration: underline;
    }

    section li {
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
    }

        section li:before {
            content: "» ";
        }

    section img {
        align-self: center;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 10px;
        width: 50%;
    }

    section:last-of-type {
        margin-bottom: -5px;
        padding-bottom: 10px;
    }

header nav ul li:hover a, #invisible li:hover a:hover {
    background: #D35400;
}

/* Media Queries */
@media screen and (max-width:910px) {
    header nav, #main {
        clear: left;
        float: left;
        margin: 0 0 10px;
        width: 100%;
    }

        header nav li {
            background: #efefef;
            display: block;
            margin: 1% 1% 3px;
            width: 100%;
        }

        header nav ul li a {
            font-size: .9em;
        }

    #invisible li {
        width: 90%;
        float: none;
        margin: 10px;
    }

    header nav ul li:hover #invisible {
        width: 90%;
    }
}

@media screen and (max-width:480px) {
    header nav, #main {
        clear: left;
        float: left;
        margin: 0 0 10px;
        width: 100%;
    }

        header nav li {
            background: #efefef;
            display: block;
            margin: 1% 1% 3px;
            width: 100%;
        }

        header nav ul li a {
            font-size: .7em;
        }

    #invisible li {
        width: 90%;
        float: none;
        margin: 10px;
    }

    header nav ul li:hover #invisible {
        width: 90%;
    }
}
