/* Reset
------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    background: #234465;
    font-size: 13px;
    color: #666666;
    font-family: Arial, helvetica, sans-serif;
}

ol, ul {
    list-style: none;
    margin: 0;
}

    ul li {
        margin: 0;
        padding: 0;
    }

h1 {
    margin-bottom: 10px;
    color: #111111;
}

a, img {
    outline: none;
    border: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    margin: 0 0 10px;
    line-height: 1.4em;
    font-size: 1.2em;
}

img {
    display: block;
    margin-bottom: 10px;
}

aside {
    font-style: italic;
    font-size: 0.9em;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/*-----------------------------------------------------------*/

/* Structure */

#web-title{
	height:40px;
	background-color:#315b74;
	margin:20px;
}

#web-title, h1 {
	font-size:20px;
	color:white;
	padding-left:12px;
	padding-top:10px;
}

section  .oneRow{
	display:inline-block;
	position:inherit;
	background-color:#FF9C00;
	border-radius:10px;
	width:170px;
	margin-left:30px;
	margin-top:30px;
}

section  .oneRow h1{
	font-size:13px;
	margin-left:-15px;
}

section  .oneRow img{
	display:inline-block;
	width: 30px;
	height:30px;
	margin:10%;
	margin-top:5%;
	margin-right:1px;
	padding-right:1px;
	padding-top:1px;
    border-radius:5px;
}

section  .oneRow:hover{
	background-color:#ed831c;
}
#last{
    height:85px;
}
/* Media Queries */
@media screen and (max-width:910px) {
    header nav, #main {
        clear: left;
        float: left;
        margin: 0 0 10px;
        width: 100%;
    }

        header nav li {
            background: #efefef;
            display: block;
            margin: 1% 1% 3px;
            width: 100%;
        }

        header nav ul li a {
            font-size: .9em;
        }

    #invisible li {
        width: 90%;
        float: none;
        margin: 10px;
    }

    header nav ul li:hover #invisible {
        width: 90%;
    }
}

@media screen and (max-width:480px) {
    header nav, #main {
        clear: left;
        float: left;
        margin: 0 0 10px;
        width: 100%;
    }

        header nav li {
            background: #efefef;
            display: block;
            margin: 1% 1% 3px;
            width: 100%;
        }

        header nav ul li a {
            font-size: .7em;
        }

    #invisible li {
        width: 90%;
        float: none;
        margin: 10px;
    }

    header nav ul li:hover #invisible {
        width: 90%;
    }
}





